<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="./css/styles.css"/>
      </head>

    <body class="cuerpo">
        <header class="fondo">
            <img src ="./logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo-mercado-liebre">
            <h3 class="barra">Buscar productos, marcas</h3>
            <h3 class="buscar"><i class="fa-solid fa-magnifying-glass"></i></h3>
            
            <h3 class="comprarCuotas"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</h3>
            <section class="encabezado">
            <ul type="none" class="lista">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </section>
        <section class="encabezado">
            <ul type="none" class="lista2">
            <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
            <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </section>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <img src ="./images/img-home-banner.jpg" alt="img-home-banner" class="img-home-banner">
        </header>
        <main class="seccion-register">
           <form class="formulario" action="/register" method="POST">
             <!-- NOMBRE -->
    <section class="datos"> 
      <div class="nombreApellido">
        <input  class="cuadro" type="text" name="nombre" value="" id="nombre" placeholder="Nombre y Apellido">
      </div>
        <!-- USUARIO -->
      <div class="nombreApellido">
        <input  class="cuadro" type="text" name="usuario" value="" id="usuario" placeholder="Nombre de Usuario">
      </div>
        <!--  EMAIL -->
      <div class="nombreApellido">
        <input class="cuadro" type="email" name="email" value="" id="email" placeholder="email">
      </div>
      <h2 class="tituloRegis">Fecha de nacimiento</h2>
      <div class="nombreApellido">
         <!--  DATE -->
        <input class="cuadro" type="date" name="fechaNa" value="mm-dd-yyyy" id="fechaNa">
      </div>
        <!--  DOMICILIO -->
        <div class="nombreApellido">
            <input class="cuadro" type="text" name="domicilio" value="" id="domicilio" placeholder="Domicilio">
          </div>
        <h2 class="tituloRegis">Perfil de Usuario</h2>
    </section>
        <!--  TIPO -->

        <div class="perfil">
            <input type="radio" name="tipo" id="comprador" value="comprador" checked>
            <label for="comprador">Comprador</label>
            <input type="radio" name="tipo" id="vendedor" value="vendedor" checked>
            <label class="opcion" for="vendedor">Vendedor</label>
          </div>
          <h2 class="tituloRegis">Intereses</h2>

      <!--  INTERESES -->
 
          <div class="intereses">
            <input type="checkbox" name="intereses" id="electro" value="electro">
            <label for="electro">Electro</label>
          </div>
          <div class="intereses">
            <input type="checkbox" name="intereses" id="moda" value="moda">
            <label for="moda">Moda</label>
          </div>
          <div class="intereses">
            <input type="checkbox" name="intereses" id="hogar" value="hogar">
            <label for="hogar">Hogar</label>
          </div>
          <div class="intereses">
            <input type="checkbox" name="intereses" id="jugueteria" value="jugueteria">
            <label for="jugueteria">Jugueteria</label>
            <div class="intereses">
                <input type="checkbox" name="intereses" id="vidaSana" value="vidaSana">
                <label for="vidaSana">Vida Sana</label>
              </div>
          </div>
 <!-- FOTO DE USUARIO -->
 <div class="usuario-foto">
    <label class="d-inline-block" for="avatar">
      <figure>
        <img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.webp"
          alt="avatar default">
      </figure>
    </label>
    <input class="img" type="file" name="avatar" id="avatar" value="avatar"
      accept=".jpg" multiple>
  </div>
   <!--  PASSWORD -->
   <div class="col-10 col-md-6 col-lg-4 d-flex flex-column mb-3">
    <label for="contrasenia">Contraseña</label>
    <input class="form-control form-control-sm" type="password" name="contrasenia" value="" id="contrasenia">
  </div>
     <!--  BOTONES -->

  <div class="botones">
    <button class="enviar" type="submit">Enviar Datos</button>
    <button class="borrar" type="reset">Borrar todo</button>
  </div>

         </form>

        </main>
        <footer class="pieDePag">
            <section class="pago">
              <i class="fa-solid fa-credit-card"></i>
              <h5 class="TituloFooter">Pagá con tarjeta o en efectivo</h5>
              <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <section class="envio">
                <i class="fa-solid fa-gift"></i>
              <h5 class="TituloFooter">Envío gratis desde $ 2.500</h5>
              <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section class="seguridad">
                <i class="fa-solid fa-user-shield"></i>
                <h5 class="TituloFooter">Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
              </section>
            <h6 class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>

        </footer>