/* Header mobile */
.barra {
    justify-content: center;
    align-items: center;
    width: 40%;
    display: flex;
    font-weight: 400;
    border: solid var(--colorGrisOscuro) 1.5px;
    font-size: var(--cuerpoAltoTexto);
    background-color: var(--colorGrisClaro);
    border-radius: 3px 0px 0px 3px;
    color: var(--colorGrisOscuro);
}
.buscar i{
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid var(--colorGrisOscuro);
    border-radius: 0 3px 3px 0;
    background-color: var(--colorGrisClaro);
}
.comprarCuotas{
    align-items: center;
    height: 60px;
    justify-content: center;
    width: 100%;
    display: flex;
    font-size: var(--cuerpoAltoTexto);
}
.comprarCuotas i {
    margin-right: 0;
  }
.lista{
 display: none;

  }

.lista2{
    display: none;
}


.logo-mercado-liebre {
    width: 45%;
    display: flex;
} 
.img-home-banner{
    margin-top: 20px;
    width:100%;
}
.burger-menu i{
    padding: 8px;
    color: var(--colorGrisClaro);
    text-align: center;
    border-radius: 6px;
    margin: 2%;
    background-color: var(--colorCeleste);
    border: solid var(--colorCeleste);
}

.burger-menu{

margin-top: 0%;
}
.fondo{
    justify-content: center;
    display: flex;
    background-color: var(--colorAmarilloFondo);
    flex-wrap: wrap;
}
.cuerpo{
    
margin: 0;
}

.buscar{width: 5%;display: flex;}

/* Header tablet */
@media (min-width: 426px) {
    .barra {
        align-items: center;
        width: 25%;
        height: 20px;
        font-weight: 400;
        border: 1px solid var(--colorGrisOscuro);
        font-size: var(--cuerpoAltoTexto);
        background-color: var(--colorGrisClaro);
        border-radius: 3px 0px 0px 3px;
        color: var(--colorGrisOscuro);
    }
    .buscar i{
        height: 20px;
        border: 1px solid var(--colorGrisOscuro);
        border-radius: 0 3px 3px 0;
        background-color: var(--colorGrisClaro);
        width: 20px;
    }
    .comprarCuotas{
        width: 35%;
        text-align: center;
        font-size: var(--cuerpoAltoTexto);
    }
    .comprarCuotas i {
        margin-right: 0;
      }
    .lista li a{
        display: flex;
        text-decoration: none;
        color:var(--colornegro);
        font-size: var(--cuerpoAltoTexto);
        line-height: 1;
        margin:0%;
        padding-left: 0%;
      }
    
    .lista2 li a{
        text-decoration: none;
        color:var(--colornegro);
        font-size: var(--cuerpoAltoTexto);
        margin-top: 60px;
    }
    .lista{
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .lista2{
        gap: 20px;
        display: flex;
        align-content: flex-end;
        flex-wrap: wrap;
    }
    
    .logo-mercado-liebre {
        width: 30%;
    } 

    .img-home-banner{
        width:100%
    }
    .burger-menu i{
    display: none;
    }
    
    .fondo{
        gap: 5px;
        display: flex;
        background-color: var(--colorAmarilloFondo);
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
    
    .buscar{display: flex;}

    .encabezado{display: flex;flex-wrap: wrap;}
    .lista li{
        
display: flex;
    }
    
}

/* Header desktop */
@media (min-width: 769px) {
    .barra {
        justify-content: flex-start;
        font-weight: 400;
        border: solid var(--colorGrisOscuro);
        font-size: var(--cuerpoAltoTexto);
        background-color: var(--colorGrisClaro);
        border-radius: 0 3px 3px 0;
        color: var(--colorGrisOscuro);
    }
    .buscar i{
        border:solid var(--colorGrisOscuro);
        border-radius: 0 3px 3px 0;
                background-color: var(--colorGrisClaro);
    }
    .comprarCuotas{
        font-size: var(--cuerpoAltoTexto);
    }
    .comprarCuotas i {
      }
    .lista li a{
        text-decoration: none;
        color:var(--colornegro);
        font-size: var(--cuerpoAltoTexto);
        line-height: 1;
        margin:0%;
        padding-left: 0%;
      }
    
    .lista2 li a{
        text-decoration: none;
        color:var(--colornegro);
        font-size: var(--cuerpoAltoTexto);
        margin-top: 60px;
    }
    .lista{
    }

    .lista2{
    }
    
    .logo-mercado-liebre {
        display: block;
        width: 250px;
    } 

    .img-home-banner{
        width:100%
    }
    .burger-menu i{
    display: none;
    }
    
    .fondo{
        background-color: var(--colorAmarilloFondo);
    }
    
    .buscar{}
    
}
.encabezado{display: flex;}
.lista li{
    
display: flex;
}