.seccion-register{
    background-color: var(--colorGrisClaro);
}
.datos .nombreApellido .cuadro{border: none;width: 90%;display: flex;}
.usuario{
}

.datos .nombreApellido{
    
height: 40px;
    
justify-content: space-around;
    
display: flex;
    
width: 100%;
}
.formulario{

display: flex;

flex-wrap: wrap;

align-items: center;
}
.datos{

gap: 60px;

display: flex;

flex-wrap: wrap;
}
.perfil{

width: 100%;
}

.perfil .opcion{
    
}
.tituloRegis{color: var(--colorGrisOscuro);font-size: var(--titulosAltoTexto);display: flex;width: 100%;}