.seccion-register{
    padding: 50px;
    background-color: var(--colorGrisClaro);
}
.datos .nombreApellido .cuadro{border-radius: 6px;border: none;width: 100%;display: flex;}
.contrasenia{
    border-radius: 5px;
    border: none;
    height: 40px;
    justify-content: space-around;
    display: flex;
    width: 100%;
}

.datos .nombreApellido{
    
height: 40px;
    
justify-content: space-around;
    
display: flex;
    
width: 100%;
}
.formulario{

gap: 60px;

display: flex;

flex-wrap: wrap;

align-items: center;
}
.datos{

gap: 60px;

display: flex;

flex-wrap: wrap;
}
.perfil{

display: flex;

width: 100%;

justify-content: space-between;
}

.perfil .opcion{
    
}
.tituloRegis{color: var(--colornegro);font-size: var(--titulosAltoTexto);display: flex;width: 100%;}
.intereses{
    width: 100%;
}

.usuario-foto{width: 100%;justify-content: center;display: flex;flex-wrap: wrap;}

.img-usuario{
    border-radius: 50%;
    width: 100%;
}
.figura{
    width: 40%;
}
.foto{width: 100%;display: flex;justify-content: center;}
.avatar{
    
background-color: white;
    
display: flex;
}

.botones{

height: 40px;

width: 100%;

display: flex;
}

.botones .enviar{

border-radius: 5px;

border: none;

background-color: var(--colorCeleste);

color: var(--colorGrisClaro);

width: 50%;
}

.botones .borrar{

border-radius: 5px;

background-color: white;

border: none;

width: 50%;
}

/* Register tablet */
@media (min-device-width: 426px) {
    .seccion-register{
        padding: 50px;
        background-color: var(--colorGrisClaro);
    }
    .datos .nombreApellido .cuadro{border-radius: 6px;border: none;width: 100%;display: flex;}
    .contrasenia{
        border-radius: 5px;
        border: none;
        height: 40px;
        justify-content: space-around;
        display: flex;
        width: 100%;
    }
    
    .datos .nombreApellido{
        
    height: 40px;
        
    justify-content: space-around;
        
    display: flex;
        
    width: 100%;
    }
    .formulario{
    
    gap: 60px;
    
    display: flex;
    
    flex-wrap: wrap;
    
    align-items: center;
    }
    .datos{
    
    gap: 60px;
    
    display: flex;
    
    flex-wrap: wrap;
    }
    .perfil{
    
display: flex;
    
width: 60%;
    }
    
    .perfil .opcion{
        
    }
    .tituloRegis{color: var(--colornegro);font-size: var(--titulosAltoTexto);display: flex;width: 100%;}
    .intereses{
        width: 100%;
    }
    
    .usuario-foto{width: 100%;justify-content: center;display: flex;flex-wrap: wrap;}
    
    .img-usuario{
        border-radius: 50%;
        width: 100%;
    }
    .figura{
        width: 40%;
    }
    .foto{width: 100%;display: flex;justify-content: center;}
    .avatar{
        
    display: flex;
    }
    
    .botones{
    
    height: 40px;
    
    width: 100%;
    
    display: flex;
    }
    
    .botones .enviar{
    
    border-radius: 5px;
    
    border: none;
    
    background-color: var(--colorCeleste);
    
    color: var(--colorGrisClaro);
    
    width: 50%;
    }
    
    .botones .borrar{
    
    border-radius: 5px;
    
    background-color: white;
    
    border: none;
    
    width: 50%;
    }    

}


/* Register desktop */
@media (min-device-width: 769px){
    .seccion-register{
        padding: 100px;
        background-color: var(--colorGrisClaro);
    }
    .datos .nombreApellido .cuadro{border-radius: 6px;border: none;width: 100%;display: flex;}
    .contrasenia{
        border-radius: 5px;
        border: none;
        height: 40px;
        justify-content: space-around;
        display: flex;
        width: 100%;
    }
    
    .datos .nombreApellido{
        
    height: 40px;
        
    justify-content: space-around;
        
    display: flex;
        
    width: 100%;
    }
    .formulario{
    
    gap: 60px;
    
    display: flex;
    
    flex-wrap: wrap;
    
    align-items: center;
    }
    .datos{
    
    gap: 60px;
    
    display: flex;
    
    flex-wrap: wrap;
    }
    .perfil{
    
display: flex;
    
width: 50%;
    
justify-content: space-between;
    }
    
    .perfil .opcion{
        
    }
    .tituloRegis{color: var(--colornegro);font-size: var(--titulosAltoTexto);display: flex;width: 100%;}
    .intereses{
        width: 100%;
    }
    
    .usuario-foto{width: 100%;justify-content: center;display: flex;flex-wrap: wrap;}
    
    .img-usuario{
        border-radius: 50%;
        width: 100%;
    }
    .figura{
        width: 40%;
    }
    .foto{width: 100%;display: flex;justify-content: center;}
    .avatar{
        
    display: flex;
    }
    
    .botones{
    
    height: 40px;
    
    width: 100%;
    
    display: flex;
    }
    
    .botones .enviar{
    
    border-radius: 5px;
    
    border: none;
    
    background-color: var(--colorCeleste);
    
    color: var(--colorGrisClaro);
    
    width: 50%;
    }
    
    .botones .borrar{
    
    border-radius: 5px;
    
    background-color: white;
    
    border: none;
    
    width: 50%;
    }    

}
